<section class="main-from">
    <!-- main app container -->
  <div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ formTitle }}</h3>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                    <input type="text" class="form-control" name="nx_access_key" [ngModel]="networxAccessKey" #nxAccessKey="ngModel" value="networxAccessKey" hidden/>
                    <input type="text" class="form-control" name="nx_userId" [ngModel]="networxId" #nxUserId="ngModel" value="networxId"  hidden/>

                    <div *ngIf="formStep == 1">
                        <div class="form-group">
                            <label for="taskId">Service Needed</label>
                            <select
                                class="form-control" name="taskId" [(ngModel)]="model.taskId" #taskId="ngModel"
                                [ngClass]="{ 'is-invalid': (taskId.touched && taskId.invalid) }"
                                required>
                                <option value="">Service Needed</option>
                                <option *ngFor="let st of selectedService" [value]="st.code">{{st.name}}</option>
                            </select>

                            <div *ngIf="taskId.invalid"  class="invalid-feedback">
                                <div *ngIf="taskId.errors?.required">Service is required</div>
                            </div>
                            <!-- <div class="invalid-feedback">
                                <div *ngIf="taskId.errors?.required">Please Select Task</div>
                            </div> -->
                        </div>

                        <div class="form-group">
                            <label for="zipcode">Zipcode</label>
                            <input type="text" class="form-control" name="zipcode"
                                [(ngModel)]="model.zipcode" #zipcode="ngModel"
                                [ngClass]="{ 'is-invalid': zipcode.touched && zipcode.invalid }"  minlength="5" required pattern="[0-9]*" />
                            <!-- <div *ngIf="zipcode.errors.minlength">Min length 5</div> -->
                            <div *ngIf="(zipcode.touched && zipcode.invalid) " class="invalid-feedback">
                                <div *ngIf="zipcode.errors.required">Zipcode is required</div>
                                <div *ngIf="zipcode.errors.minlength">Zip code must be at least {{ zipcode.errors.minlength.requiredLength }} digits</div>
                                <div *ngIf="zipcode.errors.pattern">Enter valid zip code</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button [disabled]="f.invalid" (click)="changeFormStep(2)" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                    <div *ngIf="formStep == 2">

                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="f_name" [(ngModel)]="model.firstName"
                                #firstName="ngModel" [ngClass]="{ 'is-invalid': (firstName.touched && firstName.invalid) }" required />
                            <div *ngIf="firstName.touched && firstName.invalid" class="invalid-feedback">
                                <div *ngIf="firstName.errors.required">First Name is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="l_name" [(ngModel)]="model.lastName"
                                #lastName="ngModel" [ngClass]="{ 'is-invalid': lastName.touched && lastName.invalid }" required />
                            <div *ngIf="lastName.touched && lastName.invalid" class="invalid-feedback">
                                <div *ngIf="lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" [(ngModel)]="model.email"
                                #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" required email />
                            <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="taskId">Service Needed</label>
                            <select class="form-control" name="task_id" [(ngModel)]="model.taskId"
                                [ngClass]="{ 'is-invalid': taskId.touched && taskId.invalid }"
                                #taskId="ngModel" required>
                                <option value="">Service Needed</option>
                                <option *ngFor="let st of selectedService" [value]="st.code">{{st.name}}</option>
                            </select>
                            <div *ngIf="taskId.touched && taskId.invalid" class="invalid-feedback">
                                <div *ngIf="taskId.errors.required || taskId.value == ''">Please Select Task</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="zipcode">Zipcode</label>
                            <input type="text" class="form-control" name="zipcode" [(ngModel)]="model.zipcode" #zipcode="ngModel"
                                [ngClass]="{ 'is-invalid': zipcode.touched && zipcode.invalid }" required minlength="5" pattern="[0-9]*" />
                            <div *ngIf="zipcode.touched && zipcode.invalid" class="invalid-feedback">
                                <div *ngIf="zipcode.errors.required">Zipcode is required</div>
                                <div *ngIf="zipcode.errors.minlength">
                                    Zip code must be at least {{ zipcode.errors.minlength.requiredLength }} digits
                                </div>
                                <div *ngIf="zipcode.errors.pattern">Enter valid zip code</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" 
                                (keyup)="formatPhoneNo(phone)"
                                
                                [(ngModel)]="model.phone" #phone="ngModel" 
                                [ngClass]="{ 'is-invalid': phone.touched && phone.invalid }" 
                                required pattern="^[0-9 \- \( \)]*" minlength="14" maxlength="14"
                                />
                            <div *ngIf="phone.touched && phone.invalid" class="invalid-feedback">
                                <div *ngIf="phone.errors.required">Phone is required</div>
                                <div *ngIf="phone.errors.pattern">Enter valid phone number</div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel"
                                [ngClass]="{ 'is-invalid': phone.touched && phone.invalid }" required minlength="10" />
                            <div *ngIf="phone.touched && phone.invalid" class="invalid-feedback">
                                <div *ngIf="phone.errors.required">Phone is required</div>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <button class="btn btn-primary" (click)="changeFormStep(1)">Back</button> &nbsp;
                            <button [disabled]="loading || !f.valid" class="btn btn-primary">Submit</button>
                            <img class="spinner" *ngIf="loading" src="../../assets/images/common/spinner.gif" />
                        </div>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div *ngIf="success" class="alert alert-success">{{success}}</div>
                </form>
                <!-- <button (click)= " leadGenerated = !leadGenerated " >Toggle Lead</button>
                <button (click)= " imageUrl = '' " >UnsetSet Url</button>
                <button (click)= " imageUrl = '//rdtrck2.com/postback?format=img&ver='+currentTime " > Set Url</button> -->
                <div *ngIf="leadGenerated">
                    <img [src]="imageUrl" width="1" height="1" />
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
